#bottomBar{
    background-color: #536166;
    margin:0;
    flex: 1;
    display:flex;
    min-height: 50px;
    max-height: 6vh;
    z-index: 6;

}

button,
button::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


button {
    background: none;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: #0d262b;
    display: block;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height:100%;
    position: relative;
    text-transform: uppercase;
    margin:0;
    cursor:pointer;

}

button::before,
button::after {
    background: #12181d;
    content: '';
    position: absolute;
    z-index: -1;
}

button:hover {
    fill:white;
    color: #f7fff3;
    border-radius: 5px;
    /*border: 3px solid #12181d;*/
}


/* BUTTON 3 */
.btn-3::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;

}

.btn-3:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;

}

.buttonContainer{
    width:100vw;
}

