.five {
    position: fixed;
    background-color: rgba(249, 248, 248, 0.9);
    bottom: -100%;
    right: 0;
    left: 0;
    height: 99vh;
    width: 95vw;
    border-radius: 10px 10px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    z-index: 3;
    margin: 0 auto;
    box-shadow: 0 0 8px #000;
}


.fifthInput {
    margin: 12px auto;
}

#fifthBannerText {
    line-height: 60px;
    /*vertical-align: middle;*/
    font-size: 30px;
    padding-left: 30px;
    display: inline;
    width: 95%;
}

#fifthBannerClose {
    /*position: relative;*/
    cursor: pointer;
    width: 40px;
    top: 0;
    /*right:20px;*/
}

#fifthLoginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#fifthSettingButtonArea {
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*overflow-y: scroll;*/
}

.fifthSettingButtonText {
    /*margin: 0 0 15px 0;*/
    position: relative;
    bottom: 30px;
}

.fifthSettingButton {
    width: 250px;
    height: 250px;
    background: darkgrey;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    vertical-align: bottom;
}

.fifthSettingButton:hover {
    width: 250px;
    height: 250px;
    background: #6f6f6f;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

.fifthSettingButton:active {
    width: 250px;
    height: 250px;
    background: #a6a6a6;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#fifthFreq {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 25%;
    z-index: 6;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
}

#fifthFreqOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthFreqAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 6;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthFreqEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 6;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthFreqAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthFreqEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSite {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 25%;
    z-index: 5;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
}

#fifthSiteOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSiteAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthSiteEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthSiteAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSiteEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}


/*#fifthSector {*/
/*    position: fixed;*/
/*    background: #f7fff3;*/
/*    width: 80%;*/
/*    height: 50%;*/
/*    left: 10%;*/
/*    bottom: 25%;*/
/*    z-index: 5;*/
/*    visibility: hidden;*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    transition: all ease 0.5s;*/
/*    overflow: auto;*/
/*}*/

#fifthSectorOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSectorAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 80%;
    left: 25%;
    bottom: 10%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthSectorEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 80%;
    left: 25%;
    bottom: 10%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthSectorAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSectorEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthSectorContext {
    margin: 10px auto;
    display: flex;
    gap:15px;
    /*flex-direction: row;*/
    justify-content: flex-start;
    align-items: center;
}


#fifthFix {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 25%;
    z-index: 5;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
}

#fifthFixOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthFixAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthFixEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthFixAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthFixEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthNotice {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 25%;
    z-index: 5;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
}

#fifthNoticeOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}


#fifthNoticeAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthNoticeEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 50%;
    height: 40%;
    left: 25%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthNoticeAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthNoticeEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}


#fifthRouteOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthRouteContext {
    margin: 10px auto;
    display: flex;
    gap:15px;
    justify-content: flex-start;
    align-items: center;
}


#fifthRouteAdd {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 75%;
    height: 50%;
    left: 12.5%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthRouteEdit {
    position: fixed;
    display: flex;
    background: #f7fff3;
    width: 75%;
    height: 50%;
    left: 12.5%;
    bottom: 25%;
    z-index: 7;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    flex-direction: column;
}

#fifthRouteAddOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthRouteEditOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 6;
    visibility: hidden;
    transition: all ease 0.5s
}

#fifthNoticeAddContextInput {
    width: 200px;
}

#frequency {
    height: inherit;
    background: url("data:image/svg+xml,%3Csvg height='150pt' viewBox='0 -23 372.00696 372' width='150pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m101.816406 315.835938c-55.449218-30.636719-89.855468-89-89.816406-152.347657.042969-63.351562 34.527344-121.667969 90.015625-152.234375 2.898437-1.605468 3.949219-5.253906 2.34375-8.15625-1.605469-2.898437-5.253906-3.949218-8.152344-2.34375-59.308593 32.675782-96.160156 95.011719-96.207031 162.722656-.046875 67.714844 36.726562 130.097657 95.988281 162.851563 2.898438 1.609375 6.550781.566406 8.15625-2.332031 1.609375-2.898438.566407-6.550782-2.332031-8.160156zm0 0'/%3E%3Cpath d='m275.804688.753906c-2.902344-1.605468-6.550782-.554687-8.15625 2.34375-1.605469 2.902344-.554688 6.550782 2.34375 8.15625 55.492187 30.566406 89.972656 88.882813 90.015624 152.234375.039063 63.347657-34.367187 121.710938-89.816406 152.347657-2.894531 1.609374-3.941406 5.261718-2.332031 8.160156 1.609375 2.898437 5.261719 3.941406 8.15625 2.332031 59.265625-32.753906 96.035156-95.136719 95.992187-162.851563-.046874-67.710937-36.898437-130.046874-96.203124-162.722656zm0 0'/%3E%3Cpath d='m121.128906 280.816406c-42.6875-23.605468-69.164062-68.550781-69.125-117.328125.039063-48.777343 26.589844-93.679687 69.316406-117.214843 2.898438-1.605469 3.949219-5.257813 2.34375-8.15625-1.605468-2.898438-5.257812-3.949219-8.15625-2.34375-46.539062 25.648437-75.460937 74.566406-75.503906 127.703124-.042968 53.140626 28.796875 102.105469 75.296875 127.828126 2.894531 1.609374 6.546875.566406 8.15625-2.328126 1.609375-2.898437.566407-6.550781-2.328125-8.160156zm0 0'/%3E%3Cpath d='m332.003906 163.605469c-.058594-53.167969-28.96875-102.113281-75.5-127.832031-2.898437-1.605469-6.550781-.554688-8.15625 2.34375-1.605468 2.902343-.554687 6.550781 2.34375 8.15625 42.722656 23.539062 69.277344 68.4375 69.316406 117.21875.039063 48.777343-26.441406 93.71875-69.125 117.328124-2.898437 1.609376-3.941406 5.261719-2.332031 8.160157 1.609375 2.894531 5.261719 3.941406 8.160157 2.332031 46.410156-25.753906 75.226562-74.632812 75.292968-127.707031zm0 0'/%3E%3Cpath d='m140.441406 245.800781c-29.925781-16.574219-48.480468-48.101562-48.4375-82.308593.042969-34.207032 18.671875-65.691407 48.636719-82.191407 1.902344-1.023437 3.105469-2.992187 3.152344-5.148437.046875-2.160156-1.070313-4.175782-2.921875-5.285156-1.855469-1.105469-4.160156-1.132813-6.039063-.066407-33.777343 18.613281-54.777343 54.109375-54.824219 92.675781-.046874 38.566407 20.867188 74.113282 54.601563 92.808594 1.875 1.078125 4.1875 1.0625 6.046875-.042968 1.859375-1.101563 2.984375-3.121094 2.941406-5.28125-.042968-2.164063-1.25-4.136719-3.152344-5.160157zm0 0'/%3E%3Cpath d='m292.003906 163.605469c-.039062-38.605469-21.035156-74.140625-54.828125-92.800781-1.875-1.066407-4.183593-1.042969-6.035156.066406-1.855469 1.105468-2.96875 3.125-2.921875 5.28125.046875 2.160156 1.25 4.125 3.152344 5.152344 29.964844 16.5 48.59375 47.980468 48.636718 82.191406.039063 34.207031-18.511718 65.734375-48.4375 82.308594-1.90625 1.023437-3.109374 2.996093-3.152343 5.160156-.042969 2.160156 1.078125 4.179687 2.941406 5.28125 1.859375 1.105468 4.171875 1.121094 6.046875.042968 33.65625-18.710937 54.546875-54.175781 54.597656-92.683593zm0 0'/%3E%3Cpath d='m208.21875 123.324219c-18.160156-10.015625-40.773438-6.640625-55.21875 8.234375-14.445312 14.878906-17.148438 37.582031-6.605469 55.4375 10.542969 17.855468 31.730469 26.445312 51.734375 20.980468 20-5.464843 33.875-23.636718 33.875-44.371093 0-16.757813-9.113281-32.191407-23.785156-40.28125zm-22.214844 74.28125c-18.777344 0-34-15.222657-34-34 0-18.78125 15.222656-34 34-34s34 15.21875 34 34c-.023437 18.765625-15.230468 33.976562-34 34zm0 0'/%3E%3C/svg%3E") no-repeat center;
}

#site {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='180px' height='180px' viewBox='0 0 497.645 497.645' style='enable-background:new 0 0 497.645 497.645;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M496.779,219.347c-5.277-44.364-34.116-82.414-75.402-99.486l0.033,0.008c-4.684-44.453-33.025-82.904-74.1-100.534 c-41.075-17.63-88.471-11.686-123.92,15.542C182.543,16.71,135.067,22.039,99.264,48.809 c-35.803,26.77-54.341,70.8-48.468,115.117c-36.11,26.305-55.203,70.057-49.93,114.42c5.272,44.363,34.088,82.422,75.357,99.53 c4.721,44.434,33.077,82.851,74.147,100.455c41.07,17.604,88.446,11.65,123.881-15.571c15.619,6.989,32.528,10.632,49.639,10.694 c35.671,0.155,69.666-15.125,93.229-41.906c23.564-26.78,34.393-62.443,29.7-97.804 C482.949,307.464,502.056,263.711,496.779,219.347z M433.491,323.1h0.025c-2.037,1.338-4.08,2.607-6.128,3.807 c-34.986,20.34-78.458,19.179-112.31-2.998c-0.262-0.223-0.538-0.43-0.826-0.619c-9.448-6.266-17.815-14.025-24.774-22.974 c-2.809-3.594-8-4.23-11.594-1.42c-3.594,2.809-4.23,8-1.42,11.594c7.857,10.076,17.255,18.85,27.846,25.996 c0.26,0.239,0.536,0.46,0.826,0.661c37.648,25.18,86.086,27.642,126.092,6.408c2.269,38.112-15.917,74.552-47.737,95.651 c-31.82,21.1-72.464,23.671-106.689,6.749c-2.205-1.098-4.327-2.279-6.326-3.394c-46.051-26.806-65.581-83.257-45.94-132.79 c1.706-4.232-0.343-9.046-4.575-10.752s-9.046,0.343-10.752,4.575c-21.933,55.395-1.461,118.563,48.797,150.561 c-31.866,21.012-72.507,23.478-106.679,6.472c-34.173-17.006-56.713-50.912-59.167-89.004c-0.165-2.406-0.248-4.798-0.248-7.176 c0.183-53.3,39.287-98.468,92.011-106.281c4.515-0.648,7.65-4.833,7.003-9.348c-0.648-4.515-4.833-7.65-9.348-7.003 c-58.935,8.767-103.371,58.101-105.951,117.628c-34.112-17.099-56.555-51.051-58.919-89.135 c-2.365-38.084,15.706-74.552,47.441-95.739c2.037-1.338,4.08-2.607,6.128-3.807c34.986-20.34,78.458-19.179,112.31,2.998 c0.262,0.223,0.538,0.43,0.826,0.619c9.448,6.266,17.815,14.025,24.774,22.974c2.809,3.594,8,4.23,11.594,1.42 c3.594-2.809,4.23-8,1.42-11.594c-7.857-10.076-17.255-18.85-27.846-25.996c-0.26-0.239-0.536-0.46-0.826-0.661 c-37.666-25.128-86.076-27.585-126.092-6.4c-2.269-38.112,15.917-74.552,47.737-95.651c31.82-21.1,72.464-23.671,106.689-6.749 c2.205,1.098,4.327,2.279,6.334,3.394c35.413,20.317,56.154,59.037,53.446,99.774c-0.683,11.346-3.216,22.504-7.498,33.032 c-1.702,4.216,0.325,9.015,4.534,10.736c0.981,0.41,2.033,0.624,3.097,0.628c3.358-0.001,6.381-2.035,7.647-5.145 c4.957-12.173,7.891-25.074,8.688-38.194c2.981-45.172-19.049-88.341-57.377-112.434c31.881-20.973,72.512-23.4,106.663-6.371 c34.151,17.029,56.661,50.943,59.093,89.026c0.157,2.378,0.231,4.674,0.231,7.052c0.145,40.877-23.061,78.25-59.764,96.248 c-10.114,5.061-20.997,8.409-32.206,9.91c-4.488,0.387-7.839,4.299-7.53,8.793c0.309,4.494,4.162,7.912,8.661,7.681 c0.37,0,0.74-0.025,1.107-0.074c12.996-1.75,25.612-5.643,37.335-11.52c40.667-19.98,67.074-60.681,68.748-105.959 c34.099,17.096,56.529,51.041,58.882,89.113C483.305,265.487,465.226,301.936,433.491,323.1z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

#fixPoint {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='150px' height='150px' viewBox='0 0 97.713 97.713' style='enable-background:new 0 0 97.713 97.713;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M48.855,0C29.021,0,12.883,16.138,12.883,35.974c0,5.174,1.059,10.114,3.146,14.684 c8.994,19.681,26.238,40.46,31.31,46.359c0.38,0.441,0.934,0.695,1.517,0.695s1.137-0.254,1.517-0.695 c5.07-5.898,22.314-26.676,31.311-46.359c2.088-4.57,3.146-9.51,3.146-14.684C84.828,16.138,68.69,0,48.855,0z M48.855,54.659 c-10.303,0-18.686-8.383-18.686-18.686c0-10.304,8.383-18.687,18.686-18.687s18.686,8.383,18.686,18.687 C67.542,46.276,59.159,54.659,48.855,54.659z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

#sector {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='150px' height='150px' viewBox='0 0 512.145 512.145' style='enable-background:new 0 0 512.145 512.145;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M512.085,128.069c-0.133-35.346-28.894-63.892-64.24-63.759c-25.145,0.094-47.905,14.904-58.176,37.855l-54.64-9.136 l-5.344,31.568l54.912,9.168c2.137,23.81,17.366,44.444,39.488,53.504l-15.584,117.552 c-32.099,3.773-56.321,30.928-56.416,63.248v0.24l-184.464,48.64c-9.839-17.54-27.385-29.403-47.328-32L87.621,123.461 c15.543-6.19,28.053-18.207,34.864-33.488l49.456,8.256l5.264-31.552l-49.696-8.304C124.488,23.245,93.561-2.783,58.433,0.239 C23.305,3.26-2.723,34.186,0.299,69.314c2.577,29.962,25.715,54.062,55.546,57.859l32.704,261.44 c-32.869,12.999-48.978,50.182-35.979,83.051c12.999,32.869,50.182,48.978,83.051,35.979 c24.441-9.666,40.488-33.291,40.464-59.574v-0.24l184.464-48.64c17.182,30.788,56.069,41.818,86.857,24.637 c30.788-17.182,41.818-56.069,24.637-86.857c-7.105-12.732-18.355-22.648-31.878-28.1l15.584-117.552 C487.816,187.507,511.995,160.362,512.085,128.069z M64.085,96.069c-17.673,0-32-14.327-32-32s14.327-32,32-32s32,14.327,32,32 S81.758,96.069,64.085,96.069z M112.085,480.069c-17.673,0-32-14.327-32-32c0-17.673,14.327-32,32-32s32,14.327,32,32 C144.085,465.742,129.758,480.069,112.085,480.069z M448.085,368.069c0,17.673-14.327,32-32,32c-17.673,0-32-14.327-32-32 c0-17.673,14.327-32,32-32C433.758,336.069,448.085,350.396,448.085,368.069z M416.085,128.069c0-17.673,14.327-32,32-32 c17.673,0,32,14.327,32,32s-14.327,32-32,32C430.412,160.069,416.085,145.742,416.085,128.069z'/%3E%3Crect x='269.047' y='84.899' transform='matrix(0.9864 0.1646 -0.1646 0.9864 20.4913 -45.5342)' width='32' height='32'/%3E%3Crect x='205.844' y='74.36' transform='matrix(0.9863 0.1648 -0.1648 0.9863 17.9183 -35.3141)' width='32' height='32'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

#result {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='150px' height='150px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M509.07,93.916l-91-90.987C416.195,1.054,413.652,0,411,0H114C97.458,0,84,13.458,84,30v19.064 C34.875,68.334,0,116.215,0,172.091c0,5.522,4.478,10,10,10h122.091c5.522,0,10-4.478,10-10V50c0-5.522-4.478-10-10-10 c-9.638,0-19.034,1.047-28.091,3.017V30c0-5.514,4.486-10,10-10h287v61c0,16.542,13.458,30,30,30h61v371c0,5.514-4.486,10-10,10 H114c-5.514,0-10-4.486-10-10v-85.667c0-5.522-4.478-10-10-10c-5.522,0-10,4.478-10,10V482c0,16.542,13.458,30,30,30h368 c16.542,0,30-13.458,30-30V100.987C512,98.335,510.946,95.791,509.07,93.916z M122.09,60.443v101.648H20.442 C25.223,108.243,68.243,65.224,122.09,60.443z M431,91c-5.514,0-10-4.486-10-10V34.14L477.868,91H431z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M101.069,352.93C99.21,351.069,96.63,350,94,350s-5.21,1.069-7.07,2.93C85.07,354.79,84,357.37,84,360 s1.069,5.21,2.93,7.069C88.79,368.93,91.37,370,94,370s5.21-1.07,7.069-2.931C102.93,365.21,104,362.63,104,360 S102.93,354.79,101.069,352.93z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M167.909,75.819c-5.522,0-10,4.478-10,10v112.09H45.819c-5.522,0-10,4.478-10,10C35.819,280.744,95.074,340,167.909,340 S300,280.744,300,207.909S240.744,75.819,167.909,75.819z M177.909,96.262c23.41,2.078,44.771,11.388,61.836,25.67l-61.836,61.835 V96.262z M167.909,320c-58.437,0-106.574-44.949-111.647-102.091h111.647c2.76,0,5.258-1.118,7.068-2.926 c0.001-0.001,0.002-0.001,0.004-0.003l78.909-78.908c16.291,19.467,26.11,44.527,26.11,71.837 C280,269.716,229.716,320,167.909,320z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M438.073,315.605c-16.542,0-30,13.458-30,30c0,4.146,0.846,8.097,2.373,11.692l-57.613,57.613 c-3.959-1.929-8.403-3.014-13.095-3.014c-4.581,0-8.923,1.036-12.81,2.879l-38.258-38.258c1.326-3.384,2.062-7.063,2.062-10.913 c0-16.542-13.458-30-30-30s-30,13.458-30,30c0,4.482,0.995,8.734,2.765,12.557l-36.695,36.695 c-3.909-1.87-8.283-2.919-12.897-2.919c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30 c0-4.637-1.058-9.031-2.944-12.954l36.49-36.49c4.007,1.988,8.515,3.111,13.283,3.111c5.385,0,10.438-1.433,14.811-3.927 l37.179,37.179c-1.912,3.945-2.986,8.369-2.986,13.04c0,16.542,13.458,30,30,30s30-13.458,30-30c0-4.558-1.026-8.88-2.853-12.752 l57.075-57.075c4.209,2.254,9.014,3.536,14.113,3.536c16.542,0,30-13.458,30-30S454.615,315.605,438.073,315.605z M183.904,451.938c-5.514,0-10-4.486-10-10c0-5.514,4.486-10,10-10c2.685,0,5.12,1.069,6.918,2.797 c0.04,0.042,0.075,0.087,0.116,0.128c0.048,0.048,0.1,0.088,0.149,0.134c1.74,1.8,2.817,4.246,2.817,6.941 C193.904,447.451,189.418,451.938,183.904,451.938z M260.732,375.604c-5.514,0-10-4.486-10-10c0-5.514,4.486-10,10-10 c5.514,0,10,4.486,10,10C270.732,371.118,266.246,375.604,260.732,375.604z M339.736,451.896c-5.514,0-10-4.486-10-10 c0-5.514,4.486-10,10-10c5.514,0,10,4.486,10,10C349.736,447.41,345.25,451.896,339.736,451.896z M438.071,355.604 c-5.514,0-10-4.486-10-10c0-5.514,4.487-10,10-10c5.514,0,10,4.486,10,10C448.071,351.118,443.585,355.604,438.071,355.604z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M388.09,235h-52.779c-5.522,0-10,4.478-10,10c0,5.522,4.477,10,10,10h52.779c5.522,0,10-4.478,10-10 C398.09,239.478,393.612,235,388.09,235z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M440.689,237.93c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21,1.069-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07 s1.069,5.21,2.93,7.069c1.86,1.86,4.43,2.931,7.07,2.931c2.63,0,5.21-1.07,7.069-2.931c1.86-1.859,2.931-4.439,2.931-7.069 S442.55,239.79,440.689,237.93z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M457.465,139H335.311c-5.522,0-10,4.478-10,10c0,5.522,4.477,10,10,10h122.154c5.522,0,10-4.478,10-10 C467.465,143.478,462.987,139,457.465,139z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M457.465,187H335.311c-5.522,0-10,4.478-10,10c0,5.522,4.477,10,10,10h122.154c5.522,0,10-4.478,10-10 C467.465,191.478,462.987,187,457.465,187z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

#route {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='150px' height='150px' viewBox='0 0 297 297' style='enable-background:new 0 0 297 297;' xml:space='preserve'%3E%3Cpath d='M256.195,7.594c-22.498,0-40.802,18.314-40.802,40.826c0,2.994,0.333,5.912,0.947,8.725l-52.365,26.201 c-7.488-8.664-18.541-14.164-30.861-14.164c-22.499,0-40.803,18.314-40.803,40.826s18.304,40.826,40.803,40.826 c3.197,0,6.306-0.382,9.293-1.081l25.062,37.622c-8.351,7.481-13.618,18.34-13.618,30.411c0,2.318,0.205,4.589,0.577,6.802 l-74.499,12.425c-4.998-16.894-20.641-29.259-39.125-29.259C18.305,207.754,0,226.067,0,248.578 c0,22.514,18.305,40.828,40.804,40.828c19.531,0,35.893-13.805,39.872-32.174l82.316-13.73c7.487,9.211,18.897,15.109,31.661,15.109 c22.501,0,40.807-18.314,40.807-40.825c0-22.511-18.306-40.825-40.807-40.825c-3.197,0-6.305,0.383-9.291,1.081L160.3,140.419 c8.351-7.481,13.617-18.34,13.617-30.411c0-2.994-0.333-5.911-0.947-8.723l52.366-26.202c7.487,8.665,18.54,14.165,30.859,14.165 c22.5,0,40.805-18.315,40.805-40.828C297,25.908,278.695,7.594,256.195,7.594z M40.804,269.34c-11.435,0-20.737-9.313-20.737-20.762 c0-11.446,9.303-20.759,20.737-20.759s20.736,9.313,20.736,20.759C61.54,260.026,52.238,269.34,40.804,269.34z M215.394,217.786 c0,11.447-9.304,20.759-20.74,20.759c-11.435,0-20.736-9.311-20.736-20.759c0-11.446,9.302-20.759,20.736-20.759 C206.09,197.027,215.394,206.34,215.394,217.786z M112.378,110.008c0-11.447,9.302-20.76,20.736-20.76 c11.434,0,20.736,9.313,20.736,20.76s-9.302,20.76-20.736,20.76C121.68,130.768,112.378,121.455,112.378,110.008z M256.195,69.182 c-11.434,0-20.735-9.314-20.735-20.762c0-11.447,9.302-20.76,20.735-20.76c11.436,0,20.738,9.312,20.738,20.76 C276.934,59.867,267.631,69.182,256.195,69.182z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}

#notice {
    height: inherit;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='150px' height='150px' viewBox='0 0 486.463 486.463' style='enable-background:new 0 0 486.463 486.463;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M243.225,333.382c-13.6,0-25,11.4-25,25s11.4,25,25,25c13.1,0,25-11.4,24.4-24.4 C268.225,344.682,256.925,333.382,243.225,333.382z'/%3E%3Cpath d='M474.625,421.982c15.7-27.1,15.8-59.4,0.2-86.4l-156.6-271.2c-15.5-27.3-43.5-43.5-74.9-43.5s-59.4,16.3-74.9,43.4 l-156.8,271.5c-15.6,27.3-15.5,59.8,0.3,86.9c15.6,26.8,43.5,42.9,74.7,42.9h312.8 C430.725,465.582,458.825,449.282,474.625,421.982z M440.625,402.382c-8.7,15-24.1,23.9-41.3,23.9h-312.8 c-17,0-32.3-8.7-40.8-23.4c-8.6-14.9-8.7-32.7-0.1-47.7l156.8-271.4c8.5-14.9,23.7-23.7,40.9-23.7c17.1,0,32.4,8.9,40.9,23.8 l156.7,271.4C449.325,369.882,449.225,387.482,440.625,402.382z'/%3E%3Cpath d='M237.025,157.882c-11.9,3.4-19.3,14.2-19.3,27.3c0.6,7.9,1.1,15.9,1.7,23.8c1.7,30.1,3.4,59.6,5.1,89.7 c0.6,10.2,8.5,17.6,18.7,17.6c10.2,0,18.2-7.9,18.7-18.2c0-6.2,0-11.9,0.6-18.2c1.1-19.3,2.3-38.6,3.4-57.9 c0.6-12.5,1.7-25,2.3-37.5c0-4.5-0.6-8.5-2.3-12.5C260.825,160.782,248.925,155.082,237.025,157.882z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
}