.one {
    position: fixed;
    background-color: rgba(249, 248, 248, 0.9);
    bottom: -100%;
    right: 0;
    left: 0;
    height: 99vh;
    width: 95vw;
    border-radius: 10px 10px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    z-index: 5;
    margin: 0 auto;
    box-shadow: 0 0 8px #000;
}

#firstBanner {
    border-radius: 10px 10px 0 0;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px #000;
    /*line-height: 60px;*/
}

#firstBannerText {
    line-height: 60px;
    /*vertical-align: middle;*/
    font-size: 30px;
    color: white;
    padding-left: 30px;
    display: inline;
    width: 95%;
}


#firstBannerClose {
    /*position: relative;*/
    width: 40px;
    top: 0;
    cursor: pointer;
    /*right:20px;*/
}

#firstContext {
    /*height:10vh;*/
    overflow: auto;
}

.firstAddData {
    position: sticky;
    float:right;
    width: 60px;
    height: 60px;
    min-width: 30px;
    max-width: 60px;
    min-height: 30px;
    max-height: 60px;
    bottom: 10%;
    right: 10px;
    background: #aaa;
    cursor: pointer;
}



.firstRow {
    cursor: pointer;
    transition: all ease 80ms;
}

.firstRow:hover {
    background: #aaa;
}

.firstRow:active {
    background: #777;
}

.styleTableRow:hover {
    background: #aaa;
}

.styleTableRow:active {
    background: #777;
}

.firstColumnSet {
    cursor: pointer;
    transition: all ease 80ms;
}

.firstColumnSet:hover {
    background: #999;
}

.firstColumnSet:active {
    background: #555;
}


#firstAddComponentOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 12;
    visibility: hidden;
    transition: all ease 0.5s
}

#firstAddDataComponent {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 25%;
    z-index: 13;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
}

.firstAddButtonForm {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
}

.firstAddButton {
    background: black;
    color: white;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
    display: inline;
    width: 40px;
    text-align: center;
    white-space: nowrap;
}

.firstAddRowButton {
    margin: 5px;
    padding: 5px;
    width: 20px;
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background: black;
    color: white;
    font-weight: bolder;

}

#firstReqDataOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 12;
    visibility: hidden;
    transition: all ease 0.5s
}

#firstReqData {
    position: fixed;
    background: #f7fff3;
    width: 80%;
    height: 80%;
    left: 10%;
    bottom: 10%;
    z-index: 13;
    visibility: hidden;
    border-radius: 10px 10px 10px 10px;
    transition: all ease 0.5s;
    overflow: auto;
    box-shadow: 0 0 8px #000;
}


.BannerDiv {
    border-radius: 10px 10px 0 0;
    background-color: gray;
    display: flex;
    position: sticky;
    top:0;
    justify-content: space-between;
    box-shadow: 0 0 2px #000;
    z-index: 1;
}

.BannerText {
    line-height: 60px;
    /*vertical-align: middle;*/
    font-size: 30px;
    color:white;
    padding-left: 30px;
    display: inline;
    width: 95%;
}

.BannerClose {
    width: 40px;
    top: 0;
    cursor: pointer;
}

#firstSearchButton {
    width:80px;
    height: 40px;
}

#firstMapButton {
    width:80px;
    height: 40px;
}

#firstReqForm{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}

td > input.firstAddInput1{
    width:60px;
}
td > input.firstAddInput2 {
    width:90px;
}