.three {
    position: fixed;
    background-color: rgba(249, 248, 248, 0.9);
    right: 0;
    left: 0;
    bottom:-100%;
    height: 25vh;
    width: 95vw;
    border-radius: 10px 10px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    z-index: 5;
    margin: 0 auto;
    box-shadow: 0 0 8px #000;
}

#thirdBanner {
    border-radius: 10px 10px 0 0;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px #000;
    /*line-height: 60px;*/
}

#thirdBannerText {
    line-height: 40px;
    /*vertical-align: middle;*/
    font-size: 30px;
    color: white;
    padding-left: 30px;
    display: inline;
    width: 97%;
}

#thirdBannerClose {
    /*position: relative;*/
    width: 40px;
    top: 0;
    cursor: pointer;
    /*right:20px;*/
}

#thirdForm {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap : wrap;

}

#thirdButton {
    width: 5%;
    min-width: 50px;
    height: 40px;
    cursor: pointer;
}

#thirdContext {
    margin: 10px;
}


#thirdAccumulatePin{
    margin: 10px 10px 10px 30px;
}

