#topContext{
    margin-left:10px;
    margin-right:80%;
    line-height: 60px;
    vertical-align: middle;
    font-size: 30px;
    color:white;
    text-shadow: 0 0 5px #000;
    width:110px;
    cursor: default;
}

#topContext:hover{ animation-duration: 1s; animation-name: shadowLink; animation-iteration-count: infinite }
@keyframes shadowLink {
    0% { color: #aeaeae; }
    20% {color : #4f4f4f}
    40% { color: #787878; }
    60% { color: #575757; }
    100% {color : #aeaeae}
}

#topBar{
    display:flex;
    justify-content: space-around;
    position : sticky;
    top:0;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 8px #000;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    z-index: 3;
}

.topText{
    cursor: pointer;
    width:100px;
    line-height: 60px;
    color:white;
    transition:all ease 0.2ms;
    text-align: center;
}

.topText:hover{
    text-shadow: 0 0 8px white;
}